/* Universal */

* {
    /*border: 1px solid rgba(0, 0, 0, 0.2);*/
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

h3 {
    font-size: 1.2em;
}

/* Heading */

.page-header {
    background-color: #80B3FF;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 6.5em;
    z-index: 1000;
}

/*.header-btn p {
    color: #ffffff;
    font-size: 1.1em;
    text-align: left;
    margin: auto;
}*/

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-right: 2.5%;
    position: relative;
    right: 12%;
}

.banner {
    position: absolute;
    display: block;
    top: 2.4em;
    width: 100%;
}

.banner h1, .banner h1 a, .banner h1 a:visited, .banner h1 a:active {
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Lobster', cursive;
    clear: both;
    margin: auto;
}


/* Content */

.col-md-8 {
    width: 100%;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 8em;
}

.post {
    margin-bottom: 3em;
}

.post h3 a, .post h3 a:visited {
    color: #000000;
}

.post-header {
    margin-bottom: 1em;
}

.post-header .btn {
    margin-left: 2%;
    float: right;
}

.date {
    color: #828282;
    text-align: left;
    margin: auto;
}

.post h3 a.btn {
    float: right;
    margin-left: 2%;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}



/* Comment */

.comment-num {
    text-align: right;
}

.comment-num a {
    color: #000000
}

.comment {
    margin-top: 3%;
}

.comment .btn {
    font-size: 0.7em;
    position: absolute;
    right: 71%;
}

/* Markdown */
.post-content blockquote {
    font-size: 1rem;
    margin: auto;
    width: 100%;
    height: auto;
}

.post-content img {
    width: 84%;
    height: auto;
    position: relative;
    margin-left: 8%;
}