/* Responsive */
@media screen and (max-device-width: 768px) {
    .col-md-8 {
        float: left;
        width: 100%;
        padding-left: 7%;
        padding-right: 7%;
    }

    .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #ffffff;
        font-size: 1.5em;
        text-decoration: none;
        text-align: center;
    }

    .post h2 a, .post h2 a:visited {
        color: #000000;
        font-size: 0.8em;
    }
}

.page-header {
    background-color: #80B3FF;
    margin-top: 0%;
    padding: 2%;
    width: auto;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 2em;
    text-decoration: none;
    text-align: center;
}

.page-header p {
    color: #ffffff;
    font-size: 1.1em;
    /*float: left;*/
    text-align: left;
    margin: auto;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 1.5em;
    margin-right: 1.5%;
    margin-bottom: auto;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.content {
    width: 100%;
}

/*.row {*/
/*    margin-left: 10%;*/
/*    margin-right: 10%;*/
/*}*/

.col-md-8 {
        float: left;
        width: 100%;
        padding-left: 20%;
        padding-right: 20%;
    }

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.post {
    margin-bottom: 10%;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
    font-size: 1em;
}

.post p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.post a {
    font-size: 1.2em;
}

.date {
    color: #828282;
    font-size: 1em;
    margin-bottom:1.2em;
}

.date p {
    font-size: 1.2em;
}

.comment {
    margin: 3% 3% 3% 0%;
}

.comment strong {
    font-size: 1.2em;
}